/*========= FONT FAMILY =========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*========= CSS VARIABLE =========*/
:root{
    --main-font: 'Poppins';
    --main-color: #1A1823;
    --second-color: #FFE587;
    --bg-color: #FFFEEB;
    --accent-color: #E25757;
    --box-btn-color: #2A292B;
    --tittle-text: #2A292B;
    --text-dimmed: #616161;
}


/*========= CSS RESET =========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--accent-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--main-color);
}

body{
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul,li{
    list-style: none;
}

input{
    font-size: 16px;
}

input:focus{
    outline: none;
}

.active-bg{
    background-color: var(--second-color);
    padding: 0 5px;
}

.active-text{
    color: var(--second-color);
    font-weight: bold;
}

/*================== MAIN STYLE ==================*/
/* MENU TOGGLE */
.menu-toggle{
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 30px;
}

.menu-toggle input[type=checkbox]{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    width: 30px;
    height: 20px;
}

.menu-toggle span{
    height: 3px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--main-color);
    transition: all .5s;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-3px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: translateX(50px) scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, -1px);
}

/* HEADER */
header{
    margin: 0 auto;
    position: fixed;
    z-index: 100 !important;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    transition: 300ms ease-in-out;
}

header .logo a{
    color: var(--tittle-text);
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

header .navbar nav{
    display: flex;
    gap: 25px;
}

header .navbar nav li a{
    position: relative;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

header .navbar nav li a::after, 
.btn a:last-child::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: 200ms linear;
}

header .navbar nav li a:hover::after,
.btn a:last-child:hover::after{
    width: 100%;
}


header .navbar .btn{
    display: flex;
    align-items: center;
    gap: 30px;
}

header .navbar .btn a:first-child{
    background-color: var(--box-btn-color);
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 500;
}

header .navbar .btn a:first-child:hover{
    background-color: #444047;
}

header .navbar .btn a:last-child{
    position: relative;
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
}

header.scrolled{
    margin-top: 30px;
    width: 95%;
    border-radius: 20px;
    border: 2px solid var(--main-color);
    background-color: rgba(255, 241, 190, 100%);
}

/* POPUP BOX */
.overlay{
    visibility: hidden;
    opacity: 0;
    z-index: 120;
    position: fixed;
    background: rgba(26, 24, 35, 90%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: 300ms linear;
}
.overlay.loginPop, .overlay.regisPop{
    opacity: 1;
    visibility: visible;
}
body.loginPop, body.regisPop{
    overflow: hidden;
}

.overlay .popup{
    z-index: 600;
    position: absolute;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFFEEB;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.overlay .popup i{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    align-self: flex-end;
    font-size: 25px;
    color: var(--main-color);
}

.overlay .popup h2{
    width: 300px;
}

.overlay .popup p{
    color: var(--text-dimmed);
}

.overlay .popup form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overlay .popup form .input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overlay .popup form .input-box input{
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--box-btn-color);
}

.overlay .popup form button{
    cursor: pointer;
    background-color: var(--box-btn-color);
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    font-weight: 500;
    transition: 100ms ease-in;
}
.overlay .popup form button:hover{
    background-color: #444047;
}

.overlay .popup p a{
    color: var(--main-color);
    text-decoration: underline;
}

.overlay #registerBox{
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    gap: 10px;
    max-width: 600px;
    transition: 300ms ease-in-out 500ms;
}
.overlay #registerBox.regisPop{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.overlay #registerBox h2{
    width: fit-content;
}

.overlay #registerBox form .input-box input{
    padding: 5px;
}

.overlay #loginBox{
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 300ms ease-in-out 500ms;
}
.overlay #loginBox.loginPop{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

/* HOME PAGE */
.home-page{
    margin: auto;
    width: 100%;
    padding: 120px 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.home-page .content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-page .content .simple-text, .motivation .simple-text{
    color: var(--text-dimmed);
    font-size: 18px;
}

.home-page .content h2{
    color: var(--tittle-text);
    font-weight: bold;
    font-size: 30px;
}

.home-page .content p{
    color: var(--text-dimmed);
    font-size: 20px;
}

.home-page .content > a{
    background-color: var(--box-btn-color);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    width: max-content;
}
.home-page .content > a:hover{
    background-color: #444047;
}

.home-page .content .scroll{
    width: 100%;
    position: absolute;
    right: -300px;
    top: 300px;
    display: none;
    align-items: center;
    transform: rotate(90deg);
}

.home-page .content .scroll {
    color: var(--main-color);
    font-weight: 500;
}

.home-page .content .scroll span{
    background-color: var(--main-color);
    height: 2px;
    width: 180px;
    margin-left: 5px;
    animation: width 3s linear infinite;
}

.home-page .motivation{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 30px;
}

.home-page .motivation .motivation-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-page .motivation .motivation-content h2{
    color: var(--tittle-text);
    font-weight: bold;
    font-size: 30px;
}

.home-page .motivation .motivation-content p{
    color: var(--text-dimmed);
    font-size: 20px;
}

.home-page .motivation a{
    color: var(--main-color);
    text-decoration: underline;
    width: fit-content;
}
.home-page .motivation a i{
    transition: 100ms linear;
}
.home-page .motivation a:hover i{
    margin-left: 10px;
}

.home-page .status{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.home-page .status .status-box:first-child{
    border-left: 1px solid var(--text-dimmed);
}

.home-page .status .status-box{
    border-right: 1px solid var(--text-dimmed);
    padding: 0 20px;
}

.home-page .status .status-box h3{
    color: var(--tittle-text);
    font-size: 20px;
}

.home-page .status .status-box p{
    font-size: 15px;
}

/* WHY PAGE */
.why-page{
    width: 100%;
    background-color: var(--main-color);
    margin: auto;
    padding: 150px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.why-page .tittle-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
}

.why-page .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 200px;
}

.why-page .content .left-box, .right-box{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.why-page .tittle-box .tittle{
    width: 400px;
}

.why-page .tittle-box .tittle h2{
    color: #fff;
    font-size: 28px;
}

.why-page .tittle-box .tittle:last-child{
    align-self: flex-end;
}

.why-page .tittle-box .tittle p{
    color: #fff;
    font-size: 16px;
}

.why-page .content .left-box .box, .right-box .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.why-page .content .left-box .box h2, .right-box .box h2{
    color: var(--second-color);
}

.why-page .content .left-box .box h3, .right-box .box h3{
    color: #fff;
    font-size: 22px;
}

.why-page .content .left-box .box p, .right-box .box p{
    color: var(--text-dimmed);
    font-weight: 500;
}

/* START PAGE */
.start-page{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 150px 80px 100px;
}

.start-page .start-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.start-page .start-content h2{
    font-size: 30px;
    color: var(--main-color);
}

.start-page .start-content p{
    color: var(--text-dimmed);
    font-size: 16px;
    width: 80%;
}

.start-page a{
    color: var(--main-color);
    text-decoration: underline;
    font-size: 18px;
}
.start-page a i{
    transition: 100ms linear;
}
.start-page a:hover i{
    margin-left: 10px;
}

.start-page .start-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page .start-img img{
    width: 650px;
    height: 450px;
}

/* CONSIST PAGE */
.consist-page{
    background-color: var(--main-color);
    z-index: 0;
}

.consist-page .shape{
    z-index: 1;
    position: absolute;
    background-color: var(--accent-color);
    width: 100px;
    height: 100px;
}


/*================== RESPONSIVE ==================*/
/* ***** TABLET ***** */
@media screen and (max-width: 820px) {
    /* MENU TOGGLE */
    .menu-toggle{
        display: flex;
    }

    /* HEADER */
    header .navbar{
        padding: 80px 50px;
        visibility: hidden;
        opacity: 0;
        z-index: 100;
        position: absolute;
        right: 50px;
        top: 80px;
        border-radius: 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 450px;
        gap: 20px;
        background-color: #f5d45c;
        border: 2px solid var(--main-color);
        transition: 300ms ease-in-out;
    }
    header .navbar.slide{
        opacity: 1;
        visibility: visible;
    }
    header .navbar.scrolled{
        right: 0;
        top: 100px;
        border-radius: 20px;
    }

    header .navbar nav{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    header .navbar nav li a{
        font-size: 20px;
    }

    /* HOME PAGE */
    .home-page{
        grid-template-columns: 1fr;
    }

    .home-page .home-img{
        justify-self: center;
    }

    .home-page .motivation{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .home-page .content p{
        width: 400px;
    }

    .home-page .content .scroll{
        display: flex;
    }

    /* WHY PAGE */
    .why-page .tittle-box{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .why-page .content{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    /* START PAGE */
    .start-page{
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .start-page .start-img{
        padding-right: 50px;
    }
}

/* ***** MOBILE ***** */
@media screen and (max-width: 480px) {
    /* HOME PAGE */
    .home-page{
        justify-content: center;
    }
    

    .home-page .home-img img{
        width: 330px;
        height: 285px;
    }

    .home-page .content .scroll{
        display: none;
    }

    /* START PAGE */
    .start-page .start-img {
        padding-right: 30px;
    }

    .start-page .start-img img{
        width: 420px;
        height: 330px;
    }
}

/* ***** MOBILE M ***** */
@media screen and (max-width: 375px) {
    
}

/* ***** MOBILE S ***** */
@media screen and (max-width: 320px) {
    
}

/*================== ANIMATION ==================*/
@keyframes marquee {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}

@keyframes fade {
    0%{
        opacity: 1;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 0;
    }
}

@keyframes spin {
    0%{
        transform: rotateY(0deg);
    }
    
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes width {
    0%{
        width: 0;
    }

    50%{
        width: 120px;
    }

    100%{
        width: 0;
    }
}